.App {
  text-align: center;
  font-family: Arial, sans-serif;
  height: 100vh;
  padding: 20px;
}

.PaperGame {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.selectBox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.selectBox button {
  background: none;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selectBox button:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
}

.selectBox img {
width: 5rem;
height: 5rem;
}